.view-all-cards{
    /* display: flex;
    align-items: center;
    justify-items: center; */
    border-radius: 1.5rem;
    padding: .6rem 1.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
    background-color: #cf4500;
    color: white;
    width: fit-content;
    &:hover{
        cursor: pointer;
        box-shadow: 0 .125rem .25rem 0 rgba(207, 69, 0, .74);
        background-color: #852d01;
        transition: all .3s;
    }
}

/* .swiper-pagination{
    position: unset;
} */
.swiper-pagination {
    position: relative !important;
  }

  
  .swiper_container {
    height: 350px;
    padding: 16px !important;
    position: relative;
  }

  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }

  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #cf4500;
  }