.card-template{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;    
    box-shadow: 1px 1px 20px 3px #f1f1f1;
    align-items: center;
    text-align: center;
    gap: 16px;

    h4,h5,p{
        margin: 0;
    }
    
}

.card-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.card-cta{
    margin: 0;
    display: flex;
    align-items: center;
    :hover{
        cursor: pointer;
    }
    h5:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

