.view-all-cards{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 16px;
    width: fit-content;
    padding: 12px;
    justify-items: center;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}

/* .swiper-pagination{
    position: unset;
} */
.swiper-pagination {
    position: relative !important;
  }

  
  .swiper_container {
    height: 350px;
    padding: 16px !important;
    position: relative;
  }

  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }

  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #cf4500;
  }