.view-all-cards{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 16px;
    width: fit-content;
    padding: 12px;
    justify-items: center;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}