body{
    margin: 0;
    font-family: "Montserrat",sans-serif;
}

.primarycolor{
    color: #cf4500;
}

.primarycolor-bg{
    background: #cf4500;
}

.landing-page{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}